@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?lcy6kf');
  src:  url('../fonts/icomoon.eot?lcy6kf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?lcy6kf') format('truetype'),
    url('../fonts/icomoon.woff?lcy6kf') format('woff'),
    url('../fonts/icomoon.svg?lcy6kf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}

.icon-merch:before {
  content: url('../fonts/icons/merch.png');
}

.icon-train:before {
  content: url('../fonts/icons/train.png');
}

.icon-distr:before {
  content: url('../fonts/icons/distr.png');
}

.icon-promo:before {
  content: url('../fonts/icons/promo.png');
}

.icon-analy:before {
  content: url('../fonts/icons/analy.png');
}

.icon-brand:before {
  content: url('../fonts/icons/brand.png');
}

.icon-gift:before {
  content: url('../fonts/icons/gift.png');
}

.icon-survey:before {
  content: url('../fonts/icons/survey.png');
}

.icon-analysis:before {
  content: "\e901";
}

.icon-bullhorn:before {
  content: "\e902";
}

.icon-light-bulb:before {
  content: "\e904";
}

.icon-startup:before {
  content: "\e907";
}

.icon-play-button:before {
  content: "\e905";
}
